<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.t_s.shim0mura.havings" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".HavingsGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInByOauthActivity"
            android:label="@string/title_activity_sign_in_by_oauth"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="signinbyoauth"
                    android:scheme="tswork_havings" />
            </intent-filter>
        </activity>
        <activity android:name=".SessionBaseActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGraphActivity"
            android:label="@string/title_activity_test_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageDetailActivity"
            android:label="@string/title_activity_image_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemFormActivity"
            android:label="@string/title_activity_item_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListNameSelectActivity"
            android:label="@string/title_activity_list_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemEditActivity"
            android:label="@string/title_activity_item_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemImageEditActivity"
            android:label="@string/title_activity_item_image_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDumpActivity"
            android:label="@string/title_activity_item_dump"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDeleteActivity"
            android:label="@string/title_activity_item_delete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimerFormActivity"
            android:label="@string/title_activity_timer_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserListActivity" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserFavoritesActivity"
            android:label="@string/title_activity_user_favorites"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DumpListActivity"
            android:label="@string/title_activity_dump_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AllTimerActivity"
            android:label="@string/title_activity_all_timer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchTagResultActivity"
            android:label="@string/title_activity_search_tag_result"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PickupActivity"
            android:label="@string/title_activity_pickup"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UserSearchActivity"
            android:label="@string/title_activity_user_search"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ShareToClipboardActivity"
            android:label="@string/title_activity_share_to_clipboard"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DoneTaskActivity"
            android:label="@string/title_activity_done_task"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
