<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.t_s.shim0mura.havings">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="work.t_s.shim0mura.havings.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="work.t_s.shim0mura.havings.permission.C2D_MESSAGE" />
    -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".HavingsGlobal"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="work.t_s.shim0mura.havings" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="work.t_s.shim0mura.havings" />
            </intent-filter>
        </receiver>
        -->


        <!--
        <service
            android:name=".util.NotificationInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        -->
        <service android:name=".util.NotificationInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
        <service android:name=".util.NotificationGcmIntentService" />
        <service
            android:name=".util.NotificationGcmListenerService"
            android:exported="false">
            <intent-filter android:priority="10000">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        -->

        <service android:name=".util.NotificationFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInByOauthActivity"
            android:label="@string/title_activity_sign_in_by_oauth"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="signinbyoauth"
                    android:scheme="tswork_havings" />
            </intent-filter>
        </activity>
        <activity android:name=".SessionBaseActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGraphActivity"
            android:label="@string/title_activity_test_graph"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageDetailActivity"
            android:label="@string/title_activity_image_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemFormActivity"
            android:label="@string/title_activity_item_form"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListNameSelectActivity"
            android:label="@string/title_activity_list_select"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemEditActivity"
            android:label="@string/title_activity_item_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemImageEditActivity"
            android:label="@string/title_activity_item_image_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDumpActivity"
            android:label="@string/title_activity_item_dump"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDeleteActivity"
            android:label="@string/title_activity_item_delete"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimerFormActivity"
            android:label="@string/title_activity_timer_form"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserFavoritesActivity"
            android:label="@string/title_activity_user_favorites"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DumpListActivity"
            android:label="@string/title_activity_dump_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllTimerActivity"
            android:label="@string/title_activity_all_timer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchTagResultActivity"
            android:label="@string/title_activity_search_tag_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PickupActivity"
            android:label="@string/title_activity_pickup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSearchActivity"
            android:label="@string/title_activity_user_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareToClipboardActivity"
            android:label="@string/title_activity_share_to_clipboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoneTaskActivity"
            android:label="@string/title_activity_done_task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TokenAutoCompActivity"
            android:label="@string/title_activity_token_auto_comp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimerEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TargetItemSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="afefab81e640bf834edc32869963b3c7c29dd493" />

        <activity android:name=".ClassedItemListActivity"></activity>
    </application>

</manifest>